# dependencies
node_modules/

# env
.env
.env.local
.env.*.local
.env.backup
.env.backup.local

# build
dist/
build/

# local database backups
backups/
supabase-backups/

# misc
.DS_Store
*.log
npm-debug.log*

# editor
.vscode/
.idea/
*.swp
*.swo
.vercel
.env*.local
